# Exclude Visual Studio Code history
.history/

# Exclude node modules
node_modules/

# Exclude build output directory
dist/

# Exclude Python bytecode
__pycache__/
*.pyc

# Exclude log files and databases
*.log
*.sql
*.sqlite

# Exclude environment variables
.env
.DS_Store
.ipynb_checkpoints
prd/.DS_Store
prd/.ipynb_checkpoints
prd/catboost_info
prd/archived

# Exclude Data
data/
*.csv
*.json